
body {
    margin:0px;
    min-height: 100vh;
}

.header {
    background-color: #1f2937;
}


.title {
    font-size: 24px;
    color: #f9faf8;
    margin-right:auto;
    font-weight: bold;
    
}

ul {
    list-style-type: none;
    margin:0px;
    display:flex;
    padding:5px 400px;
    gap:15px;
}

a,a:link,a:visited {
    color: #E5E7EB;
    text-decoration: none;
}

li {
    color: #E5E7EB;
    font-size:18px;
}

.container {
    display:flex;
    align-items: center;
    padding:10px 400px;
    justify-content: center;
    
}

.big {
    color: #f9faf8;
    margin-right: auto;
    font-size: 48px;
    font-weight: bolder;
    
}

.small {
    color:#E5E7EB;
    font-size:18px;
    
}

img {
    height:150px;
    width: auto;
}

.image {
    height:200px;
}

.but-top {
    background-color: blue;
    color:white;
    border-radius: 5px;
    width:100px;
    padding:5px;
    font-size:15px;
    border:none;
    font-weight: bold;
}

.secondary_title {
    display:flex;
    justify-content: center;
    font-size:32px;
    padding:10px;
}

.content {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:10px 0px;
    gap:50px;
    font-size:18px;
}

.quote {
    background-color:#E5E7EB;
    font-size: 24px;
    font-style:light italic;
    color:#1f2937;
    height:200px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-weight: bold;
}

.links {
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    margin:40px 500px;
    gap:50px;
    color:white;
    font-size:21px;
    line-height: 20px;
    border-radius: 5px;
}

.links div a {
    font-size:15px;
}

.links button {
    background-color: cornflowerblue;
    color: white;
    border:1px solid white;
    border-radius: 5px;
    padding:3px 18px;
}

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    overflow: hidden;
    height:38px;
}